# MANIFEST.in 文件
include requirements.txt
include README.md

recursive-include src *
prune **/__pycache__
global-exclude *.log
global-exclude *upx.exe
global-exclude *nep_cpu.pyd
global-exclude src/NepTrainKit/src/**
global-exclude src/NepTrainKit/src.qrc
