# MANIFEST.in 文件
include requirements.txt
include README.md

recursive-include src *
prune **/__pycache__
prune docs
prune tools
prune .idea
prune .github
global-exclude *.log
global-exclude *upx.exe
global-exclude *update.exe
global-exclude *nep_cpu.pyd
global-exclude *libomp140.x86_64.dll
global-exclude src/NepTrainKit/src/**
global-exclude src/NepTrainKit/src.qrc
